<div class="[ dialer ]" [class.dialer--flex]=call_active>
	<div class="[ dialer__screen ]">
		<span class="[ dialer__screen__time ]"> {{ formatted_time }} </span>
		<span class="[ dialer__screen__number ]"> {{ number_to_dial }} </span>
	</div>

	<div class="[ dialer__keypad ]" [hidden]=call_active>
		<div *ngFor="let number of numbers"
         (click)="onClickNumber(number)"
         class="[ dialer__keypad__number ]">
			<span>{{ number }}</span>
		</div>
	</div>

	<div class="[ dialer__actions ]"
       [class.dialer__bottom--full-height]=call_active>
    <button #start_call
            [hidden]=call_active
            class="[ dialer__actions__button dialer__actions__button--call ]">
			Dial
		</button>

		<button #end_call
            [hidden]=!call_active
            class="[ dialer__actions__button dialer__actions__button--hang__up ]">
			Hangup
		</button>
	</div>
</div>
